@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --explorex-blue: #1565C0;
  --explorex-green: #00E600;
  --explorex-blue-dark: #0D47A1;
  --explorex-green-light: #4AFF4A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-explorex-blue: var(--explorex-blue);
  --color-explorex-green: var(--explorex-green);
  --color-explorex-blue-dark: var(--explorex-blue-dark);
  --color-explorex-green-light: var(--explorex-green-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
